body {
    background-color: rgb(107, 107, 241);
    font: normal 15pt Arial;
}

header {
    color: rgb(244, 248, 12);
    text-align: center;
}

section {
    background-color: rgb(255, 255, 255);
    border-radius: 35px;
    padding: 15px;
    width: 400px;
    margin: auto;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.363);
}

div {
    text-align: center;
    padding: 5px;
}
footer {
    color: white;
    text-align: center;
    font-style: italic;

}