body {
    color: rgb(107, 107, 241);
}

header {
    color: rgb(244, 248, 12);
    margin-top: 2%;
    text-align: center;
}

section {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 15px;
    width: 350px;
    margin: auto;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.363);
}

div {
    text-align: center;
    padding: 2px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}
footer {
    color: white;
    text-align: center;
    font-style: italic;

}